$size11: 11px;
$size17: 17px;
$size28: 28px;
$color1:white;
$color2:#93BDBD;


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #0F6C6E;
}
::-webkit-scrollbar-thumb:hover{
    background: #007B7E;
}

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
   
}
body{
    overflow-x: hidden;
}


a{
    color: #fff;
    text-decoration: none;

    
}

header{
   
    width: 100vw;
  
    
    width: 100vw;
    nav{
        display: flex;

        a{
            position: relative;
            top: 0px;
            // left: 380px;
            left: 30%;
            font-size: $size17;
            color: #fff;
            text-decoration: none;
            display: flex;
            margin-left: 35px;
            transition: 0.5s;

            &:hover{
                border-bottom: 1px solid #fff;
                transition: 0.5s;
            }
            
            @media only screen and (max-width: 1140px) {
                        left: 30%;
                        margin-left: 15px;
                        transition: 0.5s;
            }
            @media only screen and (max-width: 980px) {
                        left: 20%;
                        transition: 0.5s;
    }
        }
        
    }
}


.logo{
    position: relative;
    top: 32px;
    left: 7%;
    font-size: $size28;
    width: max-content;
    transition: 0.5s;

    @media only screen and (max-width: 1140px) {
        left: 4%;
        transition: 0.5s;
    }
    @media only screen and (max-width: 980px) {
        left: 2%;
        transition: 0.5s;
    }
    @media only screen and (max-width: 820px) {
        top: 30px;
        left: 2%;
        font-size: 24px;
        transition: 0.5s;
        z-index: 99;
    }
}
.register{
    display: flex;
    position: absolute;
    top: 35px;
    right: 10%;
    font-size: $size11;
    width: max-content;
    transition: 0.5s;

    @media only screen and (max-width: 1140px) {
        right: 4%;
        transition: 0.5s;
    }
    @media only screen and (max-width: 980px) {
        right: 2%;
        transition: 0.5s;
    }


    .login{
        padding: 12px 35px ;
    background-color: #0AB4B4;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.5s;

    


    &:hover{
        background-color: #007B7E;
        transition: 0.5s;
    }
    }
    .singin{
        padding: 12px 18px ;
        background-color: #609591;
        color: #fff;
        transition: 0.5s;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;

    &:hover{
        background-color: #507673;
        transition: 0.5s;
        }
    }
}


.active{
    border-bottom: 1px solid #fff;
}

        .titre{
            text-align: center;
            color: $color1;
            font-weight: 150;
            padding-top: 100px;
            font-size: 49px;
            transition: 0.5s;
            
            @media (max-width:500px){
               font-size: 20px;
               transition: 0.5s;
            }
        }
        .authors{
            width: 393px;
            height: 31px;
            background-color:$color2 ;
            border: none;
            cursor: pointer;

            @media (max-width:500px){
                width: 255px;
            }
           
        }
        .label{
            color: $color1;
            font-size: 16px;
           
        }
        .prix{
            background-color:$color2;
            width: 120px;
            height: 31px; 
            border:none;
            @media (max-width:500px){
                width: 90px;
             }
        }
        .info{
            float: left;
            padding-top: 59px;  
        }
        .label1{
            @extend .label;
            padding-left: 270px;
            @media (max-width:500px) {
                padding-left: 52px;
            }
            @media (max-width:800px) {
                padding-left: 30px;
            }
            @media (max-width:1140px) {
                padding-left: 30px;
            }
        }
        .label2{
            @extend .label;
            padding-left: 59px;
            @media (max-width:500px) {
                padding-left: 57px;
            }
            @media (max-width:800px) {
                padding-left: 30px;
            }
            @media (max-width:1140px) {
                padding-left: 30px;
            }
        }
        .info-book{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
          
        }
        
        input::placeholder {
            color: $color1;
            padding-left: 5px;
           
            }
        .ok{
            height: 31px;
            width: 40px;
            background-color: $color2;
            color: $color1;
            border: none;
            cursor: pointer;
            margin-left: 8px;
            @media (max-width:500px){
                margin-left: 5px;
               
             }
        }
        .gallery{
            float: left;
            padding-top: 77px;
            padding-left: 85px;
            padding-right: 2px; 
         
            @media (max-width:500px){
                padding-left: 10px;
                padding-right: 0px;

            }
           
            @media (max-width:650px){
                padding-left: 20px;
                padding-right: 0px;

            }
           
        }
        .book{
            font-size: 18px;
            font-weight: 270;
            color: #1F1F1F;

            width: 210px;
            @media (max-width:500px){
                font-size:13px;
            }
        }
        .font1{
            font-weight: 120;
            font-size: 16px;
            @media (max-width:500px){
                font-size:10px;
            
            
            }
        }
        .prix_book{
            font-weight: 300;
            font-size: 30px;
            @media (max-width:500px){
                font-size:25px;
            
        }
    }
        .our_book{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media (max-width:600px){
                align-items: center;
                justify-content: center;
            }
           
        }
        @media (max-width:400px){
            .gallery  img {
                width: 100px;
                height: 160px;
            }
        }
        @media (max-width:600px){
            .gallery  img {
                width: 190px;
                height: 240px;
            }
        }



      
